
/* general */

html    {
    font-size: 150%;
    font-weight: 300;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    line-height: 2.4;
}

body    {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    border-radius: 0.5em;
    overflow: hidden;
}


/* both displays */

.expression-display {
    background-color: #4F4F56;
    color: #000000;
    width: 16.25rem;
    padding: 0.05rem 1rem;
    text-align: right;
    font-size: 23px;
    line-height: 1.2;
    font-weight: 1000;
}

.calculator-display {
    background-color: #4F4F56;
    color: rgb(22, 201, 67);
    width: 16.25rem;
    padding: 0.05rem 1rem;
    text-align: right;
    font-size: 60px;
    line-height: 1.2;
}


/* keys (general) */
.calculator-keys    {
    display: grid;
    height: 300px;
    grid-template-columns: repeat(4, auto);
    grid-template-areas: 
    '. . . .'
    'seven eight nine equal'
    'four five six equal'
    'one two three equal'
    'zero decimal clear equal';
}

.calculator-keys button {
    font-size: 25px;
    cursor: pointer;
}


/* keys (operators) */
[data-type='operator']   {
    background: #9C9699;
}
 
[data-type='operator']:hover,
[data-type='operator']:focus    {
    background: #722EAB;
    color: white;
}


/* keys (numbers) */
.one    {
    grid-area: one;
}

.two    {
    grid-area: two;
}

.three    {
    grid-area: three;
}

.four    {
    grid-area: four;
}

.five    {
    grid-area: five;
}

.six    {
    grid-area: six;
}

.seven    {
    grid-area: seven;
}

.eight    {
    grid-area: eight;
}

.nine    {
    grid-area: nine;
}

.zero   {
    grid-area: zero;
}

[data-type='number'] {
    background: lightgrey;    
}

[data-type='number']:hover,
[data-type='number']:focus {
    background: #10D0F0;
    color: white;
}

.decimal    {
    grid-area: decimal;
}

.clear    {
    grid-area: clear;
    background-color: white;
    color: black;
}

.clear:hover,
.clear:focus    {
    background: #DE207F;
    color: white;
}


/* keys (other) */
.equal    {
    grid-area: equal;
    background: #5F5F66;
}

.equal:hover,
.equal:focus    {
    background-color: #FF6400;
    color: white;
}
